<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="cleartype" content="on">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui, viewport-fit=cover"
    >
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320" >
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="browsermode" content="application">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="google" content="notranslate">
    <title>Save the Earth</title>
    <noscript>
        <label>Please enable JavaScript in your browser or ad-block settings</label>
        <a href>Retry</a>
    </noscript>
    <style>
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        html, body {
            background: #08092b;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .gameBox {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            will-change: opacity;
            transition: 200ms linear;
        }

        .gameboy {
            background-size: cover;
            z-index: 10;
        }

        .loading {
            position: absolute;
            color: yellow;
            font-size: 20px;
            font-weight: bold;
        }

        #canvas {
            position: absolute;
            margin-top: -3.5vw;
            margin-left: -0.05vw;
        }
    </style>
</head>

<body class="body">
<div class="gameBox">
    <canvas id="canvas"></canvas>
    <div class="gameboy"></div>
</div>
<div class="loading">LOADING...</div>
</body>
</html>
